@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* global font family */
  font-family: "Inter", Arial, sans-serif;
  /* Component dimension variables */
  --navbarheight: 3.75rem;
  --card-max-width: 600px;
  --card-height: 280px;
  --card-thumb-height: 170px;
  --card-gap-row: 0.25em;
  --card-gap-column: 1em;
  --desc-font-size: 1rem;
  --card-title-font-size: 1.875rem;
  /* variables for article description cutoff */
  --max-lines: 3;
  --line-height: 1.5;
  /* color variables */
  --card-font-color: white;
  --bg-color: #3e3f44;
  --card-bg-color: #606373;
  --footer-bg-color: #2a2a2a;
  --card-outline-color: transparent;
  --dark-text-color: #000000;
  --header-bg-color: #ecc561;
  --card-highlight-bg-color: #707487;
  --search-box-bg-color: #ffffffda;
  --light-text-color: #ffffff;
  --nav-item-hover-background-color: #000000c2;
  --nav-item-hover-background-color-inverted: #eed2ddc2;
  --nav-search-bar-focus-bg-color: #38360fd8;
}
* *:hover.cursor--pointer {
  cursor: pointer;
}
* .semibold-text {
  font-weight: 600;
}
* .bold-text {
  font-weight: 700;
}
* *:hover.hover--highlight {
  filter: invert(0.3);
}

/* removes (x) Clear button when typing at search bar */
/* removes ‘X’ button from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* removes ‘X’ button from Webkit */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

a {
  text-decoration: none;
}

html {
  overflow-y: scroll;
  height: 100vh;
}

body {
  margin: 0 auto;
  height: calc(100% - var(--navbarheight));
  min-width: 280px;
  display: flex;
  flex-flow: column nowrap;
  margin: calc(var(--navbarheight)) 0 0 0;
  background-color: var(--bg-color);
}

main {
  top: 0;
  flex-grow: 1;
}

.footer {
  bottom: 0;
  min-height: var(--navbarheight);
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-bg-color);
  color: var(--light-text-color);
}

/* -------------------------------------------------- */
.nav:has(.nav-search-bar:focus) {
  opacity: 98%;
}

.nav {
  z-index: 1;
  position: fixed;
  top: 0;
  background-color: var(--header-bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.332);
  width: 100%;
  height: var(--navbarheight);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.nav .nav__items-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  padding: 0 1em;
}
.nav .nav__items-container .nav__search-bar {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: var(--search-box-bg-color);
  padding-left: 1em;
  font-size: 1rem;
  font-weight: 600;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: none;
}
.nav .nav__items-container .nav__search-bar:hover {
  background-color: var(--nav-item-hover-background-color);
  color: var(--light-text-color);
  transition: all 0.175s;
}
.nav .nav__items-container .nav__search-bar::-moz-placeholder {
  font-weight: 400;
}
.nav .nav__items-container .nav__search-bar::placeholder {
  font-weight: 400;
}
.nav .nav__items-container .nav__search-bar:hover::-moz-placeholder, .nav .nav__items-container .nav__search-bar:focus::-moz-placeholder {
  color: var(--light-text-color);
}
.nav .nav__items-container .nav__search-bar:hover::placeholder, .nav .nav__items-container .nav__search-bar:focus::placeholder {
  color: var(--light-text-color);
}
.nav .nav__items-container .nav__search-bar:focus {
  background-color: var(--nav-search-bar-focus-bg-color);
  color: var(--light-text-color);
  border: none;
  outline: none;
}
.nav .nav__items-container .nav__txt-link {
  font-size: 1.3rem;
  color: var(--dark-text-color);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.25em 0.6em;
}
.nav .nav__items-container .nav__txt-link:hover {
  background-color: var(--nav-item-hover-background-color);
  border-radius: 2em;
  color: var(--light-text-color);
}

/* ----------------------------------------------------------------------------- */
/* .nav-menu {
  flex-shrink: 0;
  padding: 0.3rem 0.6rem;
  display: grid;
  align-content: center;
}

.nav-menu:hover {
  filter: invert(100%);
  background-color: var(--nav-item-hover-background-color-inverted);
  border-radius: 2em;
} */
.card-group {
  top: 0;
  margin: 0 auto;
  padding: 1em;
  max-width: calc(var(--card-max-width) + 3rem);
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}
.card-group .card {
  background-color: var(--card-bg-color);
  border-radius: 0.5rem;
  min-width: var(--card-max-width);
  height: var(--card-height);
  display: grid;
  grid-template-columns: auto 1fr;
  overflow: clip;
}
.card-group .card__thumb-container {
  grid-column: 1/2;
  height: var(--card-height);
  aspect-ratio: 0.675/1;
  overflow: clip;
}
.card-group .card__thumb-container .card__thumb {
  width: 100%;
  transition: 0.3s all ease-out;
}
.card-group .card__details-container {
  grid-column: 2/3;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 1em;
}
.card-group .card__details-container .card__title {
  font-size: var(--card-title-font-size);
  color: var(--card-font-color);
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-group .card__details-container .card__director {
  color: var(--card-font-color);
  font-weight: 400;
}
.card-group .card__details-container .card__details-divider {
  width: 100%;
  height: 0.5px;
  background-color: #a8a8a8;
}
.card-group .card__details-container .card__actors {
  color: var(--card-font-color);
  font-weight: 400;
}
.card-group .card__details-container .card__ratings-and-tag-container {
  justify-self: flex-end;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.card-group .card__details-container .card__ratings-and-tag-container .card__ratings-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 0 0.5em;
  align-items: center;
}
.card-group .card__details-container .card__ratings-and-tag-container .card__ratings-container p.card__rating {
  color: var(--card-font-color);
}
.card-group .card__details-container .card__ratings-and-tag-container .card__tags-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  font-size: 13px;
  color: var(--card-font-color);
  text-align: center;
}
.card-group .card__details-container .card__ratings-and-tag-container .card__tags-container .card__tag-year {
  display: grid;
  place-content: center;
  border-radius: 100px;
  padding: 0.45em 0.75em;
  background-color: rgba(255, 255, 255, 0.1);
}
.card-group .card__details-container .card__ratings-and-tag-container .card__tags-container .card__tag-media-type {
  display: grid;
  place-content: center;
  padding: 0.45em 0.75em;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.1);
}
.card-group .card__description {
  color: var(--card-font-color);
  line-height: var(--line-height);
}
.card-group .card .description-cut-off {
  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  overflow: hidden;
  position: relative;
}
.card-group .card .description-cut-off::before {
  content: "";
  position: absolute;
  height: calc(1.5 * var(--desc-font-size) * var(--line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, var(--card-bg-color));
  border-radius: 0 0 0.5em 0.5em;
}

/* #button {
  height: 3em;
  text-wrap: nowrap;
  flex-shrink: 0;
  align-self: center;
  border-radius: 1.5rem;
  border: solid 2px transparent;
  font-size: 1rem;
  padding: 0px 1rem;
  background-color: #ebebeb;
}

#button:active {
  transition: transform ease-out 0.2s;
  transform: scale(0.95);
}

#button:hover {
  filter: drop-shadow(0 0 8px #ffffff64);
  transition: filter ease-in-out 0.3s;
} */
/* -----media query for breakpoints ------ */
@media only screen and (max-width: 850px) {
  .nav__items-container {
    max-width: var(--card-max-width);
  }
}
@media only screen and (max-width: 500px) {
  .card-group {
    flex-flow: column nowrap;
  }
}
@media only screen and (max-width: 350px) {
  .card__thumb-container {
    /* position: absolute;
    left: -10000px; */
    display: none;
  }
  .card {
    gap: 0.25em 0;
  }
}
/* ---media query for devices that can hover */
@media (hover: hover) {
  .card__thumb {
    filter: contrast(75%);
  }
  .card:hover .description-cut-off::before {
    content: "";
    position: absolute;
    height: calc(2em * var(--line-height));
    width: 100%;
    bottom: 0;
    pointer-events: none;
    background: transparent;
    border-radius: 0 0 0.5em 0.5em;
  }
  .card:hover {
    background-color: var(--card-highlight-bg-color);
    color: var(--dark-text-color);
    transition: all 0.175s;
  }
  .card:hover .card__thumb {
    overflow: hidden;
    transform: scale(1.1);
    filter: contrast(100%);
  }
}
/* -----media query and other properties for phones and tablets
(primarily touch devices)----- */
/* ---remove touch highlight indicator for touchscreens--- */
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

@media (hover: none) {
  .card__thumb {
    filter: contrast(100%);
  }
  .card:active .description-cut-off::before {
    content: "";
    position: absolute;
    height: calc(2em * var(--line-height));
    width: 100%;
    bottom: 0;
    pointer-events: none;
    background: transparent;
    border-radius: 0 0 0.5em 0.5em;
  }
  .card:active {
    background-color: var(--card-highlight-bg-color);
    color: var(--dark-text-color);
    transition: all 0.175s;
  }
  .card:active .card__thumb {
    overflow: hidden;
    transform: scale(1.1);
    filter: contrast(100%);
  }
}