.search-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:hover svg path {
    fill: var(--nav-items-hover-color);
  }

  svg {
    fill: var(--nav-items-color);
    padding-top: 4px;
    width: 25px;
  }
}
