.search-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;

  svg {
    fill: var(--nav-items-color) !important;
    stroke: var(--nav-items-color) !important;
    padding-top: 4px;
    width: 25px;
  }
}
