@import 'src/components/header/Header';
@import 'src/components/mobile_sidebar_menu/MobileSidebarMenu';
@import 'src/components/header/search_bar/SearchBar';
@import 'src/components/header/nav/Nav';
@import 'src/components/result_card_container/ResultCardsGroup';
@import 'src/components/result_card_container/result_card/ResultCard';
@import 'src/components/footer/Footer';
@import 'src/scss_globals/Globals';
@import 'src/components/title_details/TitleDetails';
@import 'src/components/under_development_dialogue/UnderDevelopmentDialogue';
@import 'src/components/title_details/skeleton_loader/TitleDetailsSkeletonLoader';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  // scrollbar-width: thin;
}

:root {
  /* ---remove the blue touch highlight for touchscreens--- */
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }
  /* global font family */
  font-family: 'Inter', Arial, sans-serif;

  /* color variables */
  --card-font-color: white;
  --bg-color: #262629;
  --card-bg-color: #494b59;
  --card-highlight-bg-color: rgb(92, 95, 110);
  --card-tag-bg-color: #ffffff11;
  --footer-bg-color: #2a2a2a;

  --card-outline-color: transparent;
  --dark-text-color: #151515;
  --header-bg-color: #edd085;
  --search-box-bg-color: #ffffffbc;
  --light-text-color: #ffffff;

  --nav-items-color: #413b17;
  --nav-items-hover-color: #73682c;
  --nav-text-item-hover-background-color: var(--nav-items-color);
}

a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  min-width: 280px;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--bg-color);
}

body.scroll-disabled,
body.scroll-disabled header nav {
  overflow: hidden;
  scrollbar-width: none;
}

@media (hover: hover) {
  /* CSS code for browsers that support hover and have a WebKit/Blink engine */
  @supports (-webkit-font-smoothing: antialiased) {
    body.scroll-disabled,
    body.scroll-disabled header nav {
      padding-right: 16px;
      overflow: hidden;
      scrollbar-width: none;
    }
  }
}

main {
  margin: 0 auto;
  margin-top: var(--navbar-height);
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}
