@import 'src/components/header/Header';
@import 'src/components/mobile_sidebar_menu/MobileSidebarMenu';
@import 'src/components/header/search_bar/SearchBar';
@import 'src/components/header/nav/Nav';
@import 'src/components/search_results_container/SearchResultsContainer';
@import 'src/components/search_results_container/result_card_container/ResultCardsGroup';
@import 'src/components/search_results_container/result_card_container/result_card/ResultCard';
@import 'src/components/footer/Footer';
@import 'src/scss_globals/Globals';
@import 'src/components/title_details/TitleDetails';
@import 'src/components/under_development_dialogue/UnderDevelopmentDialogue';
@import 'src/components/title_details/skeleton_loader/TitleDetailsSkeletonLoader';
@import 'src/components/homepage/hero/Hero';
@import 'src/components/homepage/trending/TrendingMedia';
@import 'src/components/homepage/Homepage';
@import 'src/components/header/search_button/SearchButton';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // scroll-behavior: smooth;
}

:root {
  /* ---remove the blue touch highlight for touchscreens--- */
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }
  /* global font family */
  font-family: 'Inter', Arial, sans-serif;

  /* color variables */
  --card-font-color: white;
  --bg-color: #262629;
  --body-bg-color: #2b2b2d;
  --card-bg-color: #434552;
  --card-highlight-bg-color: rgb(92, 95, 110);
  --card-tag-bg-color: #ffffff0e;
  --footer-bg-color: #2a2a2a;

  --card-outline-color: transparent;
  --dark-text-color: #151515;
  --header-bg-color: #edd085;
  --search-box-bg-color: #ffffffbc;
  --light-text-color: #ffffff;

  --nav-items-color: #413b17;
  --nav-items-hover-color: #73682c;
  --nav-text-item-hover-background-color: var(--nav-items-color);

  --main-padding: 1rem;
  --main-gap: 1.25rem;
}

a {
  text-decoration: none;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 280px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--body-bg-color);
}

main {
  max-width: calc((4 * var(--card-width)) + (3 * var(--card-group-gap)));
  margin: 0 auto;
  margin-top: var(--navbar-height);
  width: 100%;
  padding: var(--main-padding);
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--main-gap);
}

@media only screen and (max-width: 945px) {
  // for devices with hover support
  @media (hover: hover) {
    // for browsers that support hover and have a WebKit/Blink engine
    @supports (-webkit-font-smoothing: antialiased) {
      body.scroll-disabled main,
      body.scroll-disabled {
        overflow: hidden;
        // scrollbar-width: none;
      }

      body.scroll-disabled main {
        padding-right: calc(16.5px + var(--main-padding));
      }
    }
  }
}

@media only screen and (min-width: 945px) {
  // for devices with hover support
  @media (hover: hover) {
    // for browsers that support hover and have a WebKit/Blink engine
    @supports (-webkit-font-smoothing: antialiased) {
      body.scroll-disabled main {
        transform: translateX(-9px);
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  :root {
    --main-padding: 0.75rem;
    --main-gap: 1rem;
  }
}

// for touch screens
body.scroll-disabled,
body.scroll-disabled main {
  overflow: hidden;
}
