@import 'src/components/header/Header';
@import 'src/components/mobile_sidebar_menu/MobileSidebarMenu';
@import 'src/components/header/search_bar/SearchBar';
@import 'src/components/header/nav/Nav';
@import 'src/components/result_card_container/ResultCardsGroup';
@import 'src/components/result_card_container/result_card/ResultCard';
@import 'src/components/footer/Footer';
@import 'src/utils/Utils';
@import 'src/components/title_details/TilteDetails';
@import 'src/components/under_development_dialog/UnderDevelopmentDialog';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* ---remove touch highlight indicator for touchscreens--- */
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }

  /* global font family */
  font-family: 'Inter', Arial, sans-serif;

  /* Component dimension variables */
  --navbar-height: 3.5rem;
  --navbar-gap: 1em;
  --navbar-width: calc((4 * var(--card-width)) + (3 * var(--card-group-gap)));

  --no-of-cards-in-a-row: 0;

  --card-group-gap: 3rem;
  --card-width: 200px;
  --card-thumb-height: 170px;

  --card-title-font-size: 1.1rem;
  --desc-font-size: 1rem;
  --tags-font-size: 0.8rem;

  /* variables for article description cutoff */
  --max-lines: 3;
  --line-height: 1.5;

  /* color variables */
  --card-font-color: white;
  --bg-color: #3e3f44;
  --card-bg-color: #5a5b68;
  --card-highlight-bg-color: #585b67;
  --footer-bg-color: #2a2a2a;

  --card-outline-color: transparent;
  --dark-text-color: #151515;
  --header-bg-color: #efcd78;
  --search-box-bg-color: #ffffffbc;
  --light-text-color: #ffffff;

  // --nav-item-hover-background-color-inverted: #eed2ddc2;
  --nav-search-bar-hover-color: #ffffff;
  --nav-search-bar-focus-bg-color: #ffffff;
  --nav-items-color: #413b17;
  --nav-items-hover-color: #73682c;
  --nav-text-item-hover-background-color: var(--nav-items-color);

  //visibility
  --card__link-buttons-visibilty: hidden;
  --toggle-card-links-display-prop: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  min-width: 280px;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--bg-color);
}

body.scroll-disabled {
  overflow: hidden;
}

main {
  margin: 0 auto;
  margin-top: var(--navbar-height);
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  // place-content: center;
}

@media (hover: none) {
  :root {
    --card__link-buttons-visibilty: visible;
    --toggle-card-links-display-prop: inline-block;
    --card__link-buttons-visibilty: visible;
  }
}

@media only screen and (max-width: 1280px) {
  :root {
    --card-group-gap: 2.5rem;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --card-group-gap: 1.75rem;
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --card-group-gap: 1.5rem;
  }
}

@media only screen and (max-width: 475px) {
  :root {
    --card-group-gap: 2em;
  }
}

// --------------nav bar
@media only screen and (max-width: 1280px) {
  :root {
    --navbar-width: calc((3 * var(--card-width)) + (2 * var(--card-group-gap)));
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --navbar-width: calc((2 * var(--card-width)) + (1 * var(--card-group-gap)));
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --navbar-height: 3.25rem;
    --navbar-width: calc((2 * var(--card-width)) + (1 * var(--card-group-gap)));
  }
}

@media only screen and (max-width: 475px) {
  :root {
    --navbar-width: calc(100% - 2em);
  }
}

@media only screen and (max-width: 320px) {
  :root {
    --navbar-width: calc(100% - 2em);
  }
}
