.search-results-container {
  position: fixed;
  display: grid;
  z-index: 1000;
  right: -105vw;
  top: 0;

  width: 100vw;
  height: 100%;
  background-color: var(--bg-color);
  // background-color: rgba(0, 0, 0, 0.704);
  overflow-y: auto;

  transition: all 0.25s ease-in-out;

  &.shown {
    animation: SlideInFromRightResultsContainer 0.35s ease-in-out forwards;
  }

  &.hidden {
    animation: SlideOutToRightResultsContainer 0.15s ease-in forwards;
  }
}

.search-results-container .search-results__header {
  z-index: 100;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--header-bg-color);
  gap: var(--navbar-gap);
  padding: 0 0 0 var(--navbar-gap);

  display: flex;
  place-content: center;

  .search-results__header-container {
    margin-right: 10px;
    width: 100%;
    max-width: var(--navbar-width-new);
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--navbar-gap);
  }
}

@media (hover: hover) {
  @supports (-webkit-font-smoothing: antialiased) {
    .search-results-container .search-results__header .search-results__header-container {
      margin-right: 25px;
    }
  }
}

@keyframes SlideInFromRightResultsContainer {
  0% {
    right: -105vw;
    display: unset;
  }

  100% {
    right: 0;
  }
}

@keyframes SlideOutToRightResultsContainer {
  0% {
    right: 0;
  }

  100% {
    right: -105vw;
  }
}

.exit-search-results-container-btn {
  border: transparent;
  background-color: transparent;

  svg {
    width: 23px;
    margin-top: 5%;
    transform: rotate(90deg);
  }
}

.intesection-observee {
  height: 1px;
  width: 100%;
}
