:root {
  --card-width: 200px;
  --card-poster-height: 170px;
  --card-title-font-size: 1rem;
  --desc-font-size: 1rem;
  --tags-font-size: 0.8rem;
}

.card.image-error {
  display: none;
}

.card {
  width: var(--card-width);

  display: grid;
  grid-template-rows: auto 1fr;
  overflow: clip;

  background-color: var(--card-bg-color);
  border-radius: 1.5em;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.219));

  &__poster-container {
    position: relative;
    grid-row: 1 / 2;
    display: grid;
    overflow: clip;

    .card__poster {
      aspect-ratio: 23 / 34;
      width: 100%;
      transition: 0.3s all ease-out;
      object-fit: cover;

      &:active {
        filter: brightness(60%);
      }
    }
  }
}

.card__details-container {
  grid-row: 2 / 3;
  padding: 0.75em;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 0.75rem 0;
  overflow: hidden;

  .card__title {
    font-size: var(--card-title-font-size);
    color: var(--card-font-color);
    text-align: left;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card__tags-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
    font-size: var(--tags-font-size);
    color: var(--card-font-color);
    text-align: center;

    .card__tag {
      border: 1px solid transparent;
      transition: all ease-in-out 0.2s;
    }

    .card__tag {
      color: #ffffffe1;
      display: grid;
      place-content: center;
      border-radius: 100px;
      padding: 0.4em 0.7em;
      background-color: var(--card-tag-bg-color);
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --card-width: 220px;
  }
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 360px) {
  :root {
    --card-title-font-size: 1rem;
    --card-width: 220px;
  }
}

/* ---media query for devices that can hover */
@media (hover: hover) {
  :root {
    --card__link-buttons-visibilty: hidden;
    --toggle-card-links-display-prop: none;
  }
  .card:hover {
    background-color: var(--card-highlight-bg-color);
    color: var(--dark-text-color);
    transition: all 0.175s;
  }

  .card:hover .card__poster {
    overflow: hidden;
    transform: scale(1.07);
  }
}
