<div  class="skeleton__backdrop"></div>
<div  class="skeleton__container">
<div  class="skeleton">
  <div class="skeleton__hero skeleton__section-container">
    <div class="skeleton__title-and-close-btn-container">
      <h2  class="skeleton__title">Lorem ipsum dolor sit amet.
      </h2>
      <div class="skeleton__close-btn">
        <div class="x-icon"></div>
      </div>
    </div>
    <div id="title-details__metadata-container" class="title-details__metadata-container">
      <!-- metadata info here-->
      
    <p id="title-data--type" class="title-data title-data--title-type text-dot-separated">Game</p>
    <p class="dot-separator metadata">•</p>
    <p id="title-data--year" class="title-data title-data--year text-dot-separated">2009</p>
    <p class="dot-separator metadata">•</p>
    <p id="title-data--rating" class="title-data title-data--rating text-dot-separated">E10+</p>
    </div>
    <img  class="skeleton__poster" src="https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg" onerror="this.onerror=null; this.style.display='none'; this.classList.add('skeleton__poster--not-available'); this.src='https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg'" alt="">
    <div  class="genre-container">
      <div class="genre skeleton--genre">Loresum.
      </div>
      <div class="genre skeleton--genre">Lorem.</div>
      <div class="genre skeleton--genre">Lorempsum.</div>
    </div>
    <p  class="skeleton__plot">Nine noble families fight for control over the lands of Westeros, while an ancient enemy returns after being dormant for a millennia.</p>
  </div>

    <div class="skeleton__section-container skeleton__section--ratings">
      <h3 class="skeleton__section-title">Ratings</h3>
      <div class="skeleton__ratings-container">
    <div class="skeleton__rating-container skeleton__rating--imdb">
        ${SvgStrings.imdb}
        <p class="skeleton__rating__rating imdb-score"><span  class="medium">Imdb Score</span></p>
    </div>
      </div>
      <div class="skeleton__rating-container skeleton__rating--rotten-tomatoes">
        ${TitleDetailsRenderer.rtSvgStringSelector('fresh')}
          <p class="skeleton__rating__rating rt-score"><span class="medium">RT Score</span>%</p>
        </div>
      <div class="skeleton__rating-container skeleton__rating--metacritic">
          ${SvgStrings.metacritic}
          <p class="skeleton__rating__rating metacritic-score"><span class="medium metacritic-score">MT Score</span></p>
      </div>
  </div>

  <div class="skeleton__section-container skeleton__section--top-cast">
    <h3 class="skeleton__section-title">Top Cast</h3>
    <div class="skeleton__cast-container">
      <div class="skeleton__actor-container">
        ${SvgStrings.actorPhotoPlaceholder}
        <p class="skeleton__actor-name skeleton--actor-name"> sit amet consectetur </p>
      </div>
      <div class="skeleton__actor-container">
        ${SvgStrings.actorPhotoPlaceholder}
        <p class="skeleton__actor-name skeleton--actor-name"> sit amet consect </p>
      </div>
      <div class="skeleton__actor-container">
        ${SvgStrings.actorPhotoPlaceholder}
        <p class="skeleton__actor-name skeleton--actor-name">Actor Name sit amet consectetur </p>
      </div>
    </div>
  </div>

  <div class="skeleton__section-container skeleton__section--directors">
    <h3 class="skeleton__section-title"><span class="director-or-directors">Director</span></h3>
    <div class="skeleton__section--directors-container skeleton__section-container--dot-separated">
      <p class="title_details__director text-dot-separated skeleton--director-name">Christopher Nolan</p>
      <p class="dot-separator sections">•</p>
      <p class="title_details__director text-dot-separated skeleton--director-name">Christopher Ndw</p>
      <p class="dot-separator sections">•</p>
      <p class="title_details__director text-dot-separated skeleton--director-name">fewfewfedde</p>
    </div>
  </div>

  <div class="skeleton__section-container skeleton__section--writers">
    <h3 class="skeleton__section-title">Writers</h3>
    <div class="skeleton__section--writers-container skeleton__section-container--dot-separated">
      <p class="title_details__writer text-dot-separated skeleton--writer-name" >Lorem ipsum dolor sit.
      </p>
      <p class="dot-separator sections">•</p>
      <p class="title_details__writer text-dot-separated skeleton--writer-name" >Lorem, ipsum.</p>
      <p class="dot-separator sections">•</p>
      <p class="title_details__writer text-dot-separated skeleton--writer-name" >Lorem, ipsum dolor.</p>
    </div>
  </div>

  <div class="skeleton__section-container skeleton__section--awards">
    <h3 class="skeleton__section-title">Awards</h3>
    <p id="skeleton--awards" class="skeleton__awards">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, ad. Praesentium eaque dignissimos a sunt.</p>
  </div>

  </div>
</div>
</div>