* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  // global cursor classes
  *:hover.cursor--pointer {
    cursor: pointer;
  }

  // global font-weight classes
  .medium-text {
    font-weight: 500;
  }

  .semibold-text {
    font-weight: 600;
  }
  .bold-text {
    font-weight: 700;
  }

  // global hover highlight class
  // *:hover.hover--highlight {
  //   filter: invert(0.7);
  // }

  *:hover.hover--underline {
    // text-decoration: underline;
    filter: invert(0.3);
  }

  /* global font family */
  font-family: 'Inter', Arial, sans-serif;

  /* Component dimension variables */
  --navbar-height: 3.5rem;
  --navbar-gap: 0.5em;
  --navbar-width: calc((4 * var(--card-width)) + (3 * var(--card-group-gap)));

  --card-group-gap: 3rem;
  --card-width: 200px;
  --card-thumb-height: 170px;

  --card-title-font-size: 1.1rem;
  --desc-font-size: 1rem;
  --tags-font-size: 0.8rem;

  /* variables for article description cutoff */
  --max-lines: 3;
  --line-height: 1.5;

  /* color variables */
  --card-font-color: white;
  --bg-color: #3e3f44;
  --card-bg-color: #5a5b68;
  --card-highlight-bg-color: #585b67;
  --footer-bg-color: #2a2a2a;

  --card-outline-color: transparent;
  --dark-text-color: #151515;
  --header-bg-color: #efcd78;
  --search-box-bg-color: #ffffffbc;
  --light-text-color: #ffffff;

  // --nav-item-hover-background-color-inverted: #eed2ddc2;
  --nav-search-bar-hover-color: #ffffff;
  --nav-search-bar-focus-bg-color: #ffffff;
  --nav-search-bar-submit-btn-color: #413b17;
  --nav-text-item-hover-background-color: var(
    --nav-search-bar-submit-btn-color
  );

  //visibility
  --card__link-buttons-visibilty: hidden;
  --toggle-card-links-display-prop: none;
}

/* removes (x) Clear button when typing at search bar */
/* removes ‘X’ button from Internet Explorer */
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* removes ‘X’ button from Webkit */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  min-width: 280px;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--bg-color);

  // Nav bvar show and hide on scroll
  &.scroll-up header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.332);
  }
  &.scroll-down header {
    transform: translateY(-100%);
  }
}

header {
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  transition: all ease-out 0.2s;
}

main {
  margin: 0 auto;
  margin-top: var(--navbar-height);
  flex-grow: 1;
}

.footer {
  bottom: 0;
  min-height: var(--navbar-height);
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  // z-index: 1;

  background-color: var(--footer-bg-color);
  color: var(--light-text-color);
}

/* -------------------------------------------------- */

.nav:has(.nav-search-bar:focus) {
  opacity: 98%;
}

.nav {
  height: var(--navbar-height);
  background-color: var(--header-bg-color);

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  .nav__items-container {
    height: 70%;
    width: var(--navbar-width);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: var(--navbar-gap);

    .nav__search-bar-container {
      border-radius: 999px;
      position: relative;
      min-width: 70px;
      width: 100%;
      height: 100%;
      transition: all ease-in-out 0.2s;

      &:hover {
        filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.288));
      }

      &:hover .nav__search-bar-submit-btn {
        filter: brightness(120%);
      }

      .nav__search-button-container {
        position: absolute;
        height: 100%;
        right: 0;

        .nav__search-bar-search-icon {
          position: absolute;
          fill: rgba(255, 255, 255, 0.903);
          height: 100%;
          right: 0.75em;
          aspect-ratio: 1 / 1;
          border: none;
          pointer-events: none;
          --webkit-user-drag: none;
        }

        .Search-button-clicked {
          animation: Search-button-clicked 0.2s ease-in-out;
        }

        @keyframes Search-button-clicked {
          50% {
            transform: scale(0.7);
          }
        }

        .nav__search-bar-submit-btn {
          position: absolute;
          right: 0;
          height: 100%;
          aspect-ratio: 1 / 1;
          border: none;
          background-color: var(--nav-search-bar-submit-btn-color);
          border-radius: 0 999px 999px 0;

          &:active {
            filter: brightness(180%);
          }
        }
      }

      .nav__search-bar {
        transition: all ease-in-out 0.2s;
        position: absolute;
        width: 100%;
        height: 100%;
        user-select: none;
        background-color: var(--search-box-bg-color);
        padding: 0 1em;
        font-size: 1rem;
        font-weight: 600;
        color: var(--nav-search-bar-submit-btn-color);
        border-radius: 5em;
        border: var(--nav-search-bar-cont-outline-if-search-bar-focused);
        transition: all ease-in-out 0.2s;

        &:hover {
          background-color: var(--nav-search-bar-hover-color);
        }
        &:focus {
          background-color: var(--nav-search-bar-focus-bg-color);
          border: none;
          outline: none;
        }

        &::placeholder {
          font-weight: 400;
        }
      }
    }

    .nav__txt-link {
      // height: 100%;
      font-size: 1.3rem;
      color: var(--dark-text-color);
      user-select: none;
      font-size: 1.25rem;
      font-weight: 700;
      padding: 0.3em 0.6em;
      transition: all ease-in-out 0.15s;
      border-radius: 2em;

      &:hover {
        background-color: var(--nav-text-item-hover-background-color);
        color: var(--light-text-color);
      }

      &:focus {
        border: none;
      }
    }
  }
}

/* ----------------------------------------------------------------------------- */

/* .nav-menu {
  flex-shrink: 0;
  padding: 0.3rem 0.6rem;
  display: grid;
  align-content: center;
}

.nav-menu:hover {
  filter: invert(100%);
  background-color: var(--nav-item-hover-background-color-inverted);
  border-radius: 2em;
} */

.card-group {
  top: 0;
  margin: 0 auto;
  padding: var(--card-group-gap);

  // max-width: var(--card-group-max-width);

  display: grid;
  gap: var(--card-group-gap);
  grid-template-columns: repeat(4, 1fr);
  place-content: center;

  .card {
    width: var(--card-width);

    display: grid;
    grid-template-rows: auto 1fr;
    overflow: clip;

    background-color: var(--card-bg-color);
    border-radius: 1.5em;

    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.219));

    &__thumb-and-links-container {
      position: relative;
      grid-row: 1 / 2;
      display: grid;
      overflow: clip;

      .toggle-links-for-no-hover {
        display: var(--toggle-card-links-display-prop);
      }

      .card__link-buttons-container {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: grid;
        place-content: center;
        gap: 1.75em;

        &:hover {
          background-color: #000000a4;
          backdrop-filter: blur(5px);
        }

        &:hover button {
          --card__link-buttons-visibilty: visible;
          opacity: 100%;
        }

        button {
          z-index: 1;
          visibility: var(--card__link-buttons-visibilty);
          transition: all ease-in-out 0.2s;
          opacity: 0%;
          font-size: 1.125rem;
          padding: 0.75em 1em;
          border: none;
          border-radius: 100px;
          color: white;
          background-color: rgb(77, 77, 77);
          user-select: none;

          &:active {
            filter: brightness(200%);
            transform: scale(0.9);
          }

          &:hover {
            filter: brightness(160%);
          }

          &.visit-imdb-btn {
            display: flex;
            flex-flow: row nowrap;
            gap: 0.5em;
            align-items: center;
            .imdb-logo {
              display: inline block;
              -webkit-user-drag: none;
            }
          }
        }
      }

      .card__thumb {
        // transform: scale(1); // to fix
        aspect-ratio: 23 / 34;
        width: 100%;
        transition: 0.3s all ease-out;
        object-fit: cover;
      }
    }

    &__details-container {
      grid-row: 2 / 3;
      padding: 0.75em;

      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      gap: 0.75rem 0;
      overflow: hidden;

      .card__title {
        font-size: var(--card-title-font-size);
        color: var(--card-font-color);
        text-align: left;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .card__tags-container {
        display: flex;
        flex-flow: row nowrap;
        gap: 0.5rem;
        font-size: var(--tags-font-size);
        color: var(--card-font-color);
        text-align: center;

        .card__tag {
          border: 1px solid transparent;

          transition: all ease-in-out 0.2s;

          & p {
            user-select: none;
          }

          &:hover {
            background-color: rgba(77, 77, 77, 0.3);
            border: 1px solid rgba(0, 0, 0, 0.3);
          }

          &:active {
            filter: brightness(200%);
            transform: scale(0.85);
          }
        }

        .card__tag {
          display: grid;
          place-content: center;
          border-radius: 100px;
          padding: 0.4em 0.7em;
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}

//-----------Variable change based on element states for any @media property

//-----------------------------------------------------

/* -----media query for device width breakpoints ------ */
@media only screen and (max-width: 2560px) {
}

@media only screen and (max-width: 1280px) {
  :root {
    --card-group-gap: 2.5rem;
    --navbar-width: calc((3 * var(--card-width)) + (2 * var(--card-group-gap)));
  }
  .card-group {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --navbar-width: calc((2 * var(--card-width)) + (1 * var(--card-group-gap)));
    --card-group-gap: 1.75rem;
  }
  .card-group {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --card-width: 190px;
    --navbar-height: 3.25rem;
    --card-group-gap: 1.5rem;
    --navbar-width: calc((2 * var(--card-width)) + (1 * var(--card-group-gap)));
    --card-title-font-size: 1rem;
  }
  .card-group {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 475px) {
  :root {
    --card-group-gap: 2em;
    --navbar-width: calc(100% - 2em);
    --card-width: 220px;
  }

  .card-group {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 320px) {
  :root {
    --navbar-width: calc(100% - 2em);
    --card-width: 220px;
  }

  .card-group {
    grid-template-columns: repeat(1, 1fr);
  }

  .card__thumb {
    // transform: scale(1); // to fix
    aspect-ratio: 23 / 25;
  }
}

/* ---media query for devices that can hover */
@media (hover: hover) {
  .card:hover {
    background-color: var(--card-highlight-bg-color);
    color: var(--dark-text-color);

    -webkit-transition: all 0.175s;
    -moz-transition: all 0.175s;
    transition: all 0.175s;
  }

  .card:hover .card__thumb {
    overflow: hidden;
    // transform: scale(1.1);
  }
}

/* -----media query and other properties for phones and tablets
(primarily touch devices)----- */

/* ---remove touch highlight indicator for touchscreens--- */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

@media (hover: none) {
  :root {
    --card__link-buttons-visibilty: visible;
  }
  .card__thumb-and-links-container {
    position: relative;
    input.toggle-links-for-no-hover {
      --toggle-card-links-display-prop: inline-block;
      z-index: 3;
      top: 0%;
      right: 4%;
      width: 15%;
      height: 15%;
      position: absolute;
      appearance: none;
      transition: all ease-in-out 0.2s;

      opacity: 90%;
      &:checked {
        opacity: 100%;
      }

      &:active {
        filter: brightness(200%);
        transform: scale(0.9);
      }

      &::before {
        position: absolute;
        filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.442));
        content: '';
        background: #787a88;
        border-radius: 1000px;
        top: 17%;
        width: 100%;
        height: 67%;
      }

      &::after {
        position: absolute;
        content: url('../images/dot-options.svg');
        border-radius: 1000px;
        top: 35%;
        right: -34%;
        width: 100%;
        height: 67%;
      }

      &:checked::after {
        position: absolute;
        content: url('../images/x-btn.svg');
        border-radius: 1000px;
        top: 32%;
        right: 27%;
        width: 45%;
      }

      &:checked::before {
        background: #626262;
      }

      &:checked {
        --card__link-buttons-visibilty: visible;
      }

      & + .card__link-buttons-container button {
        // opacity: 100%;
        pointer-events: none;
      }

      & + .card__link-buttons-container {
        &:hover {
          backdrop-filter: blur(0px);
          background-color: transparent;
          transition: backgroud-color ease-in-out 0.2s;
          & button {
            opacity: 0%;
          }
        }
      }

      &:checked + .card__link-buttons-container {
        background-color: #000000ad;
        backdrop-filter: blur(5px);
        z-index: 2;
        pointer-events: none;
      }

      &:checked + .card__link-buttons-container button {
        opacity: 100%;
        pointer-events: visible;
      }
    }
  }

  // .card__thumb {
  //   &:active {
  //     overflow: hidden;
  //   }
  // }

  // .card:active .card__thumb {
  //   overflow: hidden;
  //   transform: scale(1.05);
  // }

  // .card:active {
  //   background-color: var(--card-highlight-bg-color);
  //   color: var(--dark-text-color);
  //   transition: all 0.175s;
  // }
}
