:root {
  --title-details-popup-width: 90vw;
  --title-details-popup-max-width: 680px;
  --title-details-popup-height: calc(100vh - 10vw);

  --title-details-global-padding-and-gap: 1em;

  --close-button-width: 1.8em;
}

p.text-dot-separated,
.dot-separator {
  flex-grow: 0;
}
p.text-dot-separated {
}

p.dot-separator.metadata {
  font-size: 0.5em;
  padding-bottom: 0.2em;
}

p.dot-separator.sections {
  font-size: 0.5em;
  padding-top: 0.5em;
}

p {
  font-weight: 300;
}

span.semibold {
  font-weight: 600;
}

span.medium {
  font-weight: 500;
}

.title-details__container {
  color: white;
  position: fixed;
  z-index: 10000;
  overflow-y: auto;

  height: 100%;
  width: 100%;
  pointer-events: none;
}

.title-details__backdrop {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.93);
}

// for hiding these elements
.title-details__container.hidden,
.title-details__backdrop.hidden {
  display: none;
}

.title-details {
  pointer-events: all;
  border-radius: 1em;
  overflow: clip;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--title-details-global-padding-and-gap);
  // gap: 1em;
  z-index: 1;
  width: var(--title-details-popup-width);
  max-width: var(--title-details-popup-max-width);

  background-color: #262629;
  // background-color: var(--bg-color);
  margin: clamp(5vw, 5vw, 60px) auto;
}

.title-details__hero {
  position: relative;
  overflow: clip;
  display: flex;
  flex-flow: column nowrap;
  row-gap: var(--title-details-global-padding-and-gap);
  // padding: 1rem;

  .hero-bg-blurred-container {
    position: absolute;
    margin-top: -1em;
    margin-left: -1em;
    width: 100%;

    .hero-bg-blurred {
      width: 100%;
      transform: scale(1.75);
      object-fit: cover;
      filter: blur(50px) brightness(50%);
    }
  }
}

.title-details__title-and-close-btn-container {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: -0.25em;

  .title-details__close-btn {
    cursor: pointer;
    position: fixed;
    display: grid;
    place-content: center;
    background-color: rgba(206, 206, 206, 0.195);
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.659));
    border-radius: 50%;

    width: var(--close-button-width);
    aspect-ratio: 1 /1;

    transition: all ease-in-out 0.1s;

    &:hover {
      background-color: rgba(182, 182, 182, 0.734);
    }

    &:active {
      transform: scale(0.8);
    }

    svg {
      width: 0.7em;
    }
    svg path {
      fill: white;
    }
  }
  .title-details__title {
    overflow: clip;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(237, 237, 237);
  }
}

.title-details__metadata-container {
  margin: 0 auto;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  gap: 0.75em;
  align-items: center;
  p {
    color: #cccccc;
    font-size: 1em;
  }
}
.title-details__poster {
  z-index: 1;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  aspect-ratio: 136 / 200;
  border-radius: 0.5rem;
  object-fit: cover;
}

.genre-container {
  margin: 0 auto;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  column-gap: 0.5rem;
  row-gap: 0.55rem;
  // height: 20px;
  .genre {
    font-size: 12.5px;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    border-radius: 5em;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
.title-details__plot {
  z-index: 1;
  line-height: 1.5;
  text-justify: justify;
  text-align: justify;
  font-weight: 300;
}

.title-details__section-container {
  display: grid;
  gap: 1em;
  // background-color: rgba(252, 252, 252, 0.02);
  background-color: rgba(252, 252, 252, 0.02);
  padding: var(--title-details-global-padding-and-gap);
  .title-details__section-title {
    font-weight: 500;
    font-size: 20px;
    // letter-spacing: 0.02em;
  }
}

.title-details__section--other-info-group {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--title-details-global-padding-and-gap);
}

.title-details__section-container--dot-separated {
  display: flex;
  flex-flow: row wrap;
  gap: 0.75em;
}

.title-details__section--awards {
  p.title-details__awards {
    line-height: 1.5;
  }
}

.title-details__section--ratings {
  .title-details__ratings-container {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;

    .title-details__rating-container {
      background-color: rgba(255, 255, 255, 0.022);
      padding: 1em;
      border-radius: 4em;
      display: flex;
      flex-flow: row nowrap;
      gap: 0.5em;

      .title-details__rating__logo {
        height: 20px;
        // border: 1px solid red;
      }

      .title-details__rating__rating {
      }
    }

    .title-details__rating-container.title-details__rating--metacritic {
      gap: 0.75em;
      .ratings-logo--metacritic {
        outline-offset: 0.15em;
        border-radius: 1em;
        height: 20px;
      }

      .ratings-logo--metacritic.green {
        outline: 2px solid #51c494;
      }

      .ratings-logo--metacritic.red {
        outline: 2px solid #ff6873;
      }

      .ratings-logo--metacritic.yellow {
        outline: 2px solid #ffa600;
      }
    }
  }
}

.title-details__section--top-cast {
  // position: relative;
  // .title-details__cast-shadow-scroll {
  //   z-index: 1;
  //   position: absolute;
  //   right: 0;
  //   width: 5%;
  //   height: 100%;
  //   background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.312));
  // }
  .title-details__cast-container {
    overflow-x: auto;
    display: flex;
    flex-flow: row nowrap;
    gap: 1.5em;

    .title-details__actor-container {
      flex-shrink: 0;
      flex-grow: 0;
      width: 120px;
      display: grid;
      gap: 1em;
      .title-details__actor-photo {
        width: 100%;
      }

      p.title-details__actor-name {
        text-align: center;
      }
    }
  }
}

.title-details__section--seasons {
  .seasons-title-and-more-seasons-button-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5em;
    align-items: center;
    // justify-content: space-between;

    .more-seasons-button {
      width: 1.5em;
      height: 1.5em;
      background-color: rgba(123, 123, 123, 0.81);
      border-radius: 2em;
      display: grid;
      place-content: center;

      svg {
        fill: white;
        width: 0.75em;
        // padding-top: 0.2em;
        // transform: rotate(270deg);
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  :root {
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --title-details-global-padding-and-gap: 1.3em;
  }
  // .title-details {
  //   gap: 0;
  //   .title-details__section--other-info-group {
  //     gap: 0;
  //   }
  // }

  .title-details__title-and-close-btn-container {
    .title-details__close-btn {
      position: unset;
      // display: none;
    }

    .title-details__title {
      margin-right: -0.7em;
    }
  }

  .title-details__hero {
    column-gap: var(--title-details-global-padding-and-gap);
    display: grid;

    &:has(.title-details__poster--not-available) {
      column-gap: 0;
    }

    grid-template-areas:
      'pstr tbtn tbtn'
      'pstr mtd mtd'
      'pstr gnr gnr'
      'pstr plt plt';
    grid-template-rows: minmax(0px, auto) auto auto 1fr;

    .title-details__title-and-close-btn-container {
      grid-area: tbtn;
      .title-details__title {
        text-align: left;
      }
    }

    .title-details__metadata-container {
      grid-area: mtd;
      margin: 0;
    }

    .title-details__poster {
      grid-area: pstr;
      margin: 0;
    }
    .genre-container {
      // justify-content: center;
      grid-area: gnr;
      margin: 0 0;
    }
    .title-details__plot {
      grid-area: plt;
      text-align: left;
    }
  }

  .title-details__section--other-info-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--title-details-global-padding-and-gap);

    &.even-section {
      .title-details__subsection-container:nth-child(odd) {
        border-radius: 0 1em 1em 0;
      }
      .title-details__subsection-container:nth-child(even) {
        border-radius: 1em 0 0 1em;
      }
    }

    &.odd-section {
      &.odd-section .title-details__subsection-container:first-child {
        grid-column: 1 / span 2;
        border-radius: 0;
      }

      .title-details__subsection-container:nth-child(odd) {
        border-radius: 1em 0 0 1em;
      }
      .title-details__subsection-container:nth-child(even) {
        border-radius: 0 1em 1em 0;
      }
    }

    & div.title-details__subsection-container:nth-last-child(1) {
      border-radius: 1em 0 0 0 !important;
      // border: 1px solid red ;
    }

    & div.title-details__subsection-container:nth-last-child(2) {
      border-radius: 0 1em 0 0 !important;
      // border: 1px solid blue;
    }
  }
}

// max width
@media only screen and (max-width: 500px) {
  .genre-container {
    justify-content: center;
  }
}

@media only screen and (max-width: 475px) {
  :root {
  }

  .title-details__metadata-container {
    p {
      font-size: 0.9em;
    }
  }
}

@media only screen and (min-width: 320px) {
  :root {
  }
}

// for scrollbar styling on cast container

@media (hover: hover) {
  .title-details__cast-container {
    scrollbar-color: transparent transparent;
    &:hover {
      scrollbar-color: #87878c transparent;
    }
    transition: all ease-in-out 0.12s;
  }
}

@media (hover: none) {
  .title-details__cast-container {
    scrollbar-color: auto auto;
  }
}
