<div class="title-details__container">
  <div class="title-details">
      <div class="title-details__hero">
        <div class="title-details__title-and-close-btn-container">
          <h2 class="title-details__title">Game of Thrones</h2>
          <div class="title-details__close-btn">
            <svg class="x-icon" viewBox="0 0 847 1058.8" xmlns="http://www.w3.org/2000/svg">
              <path d="M423.4,407.4l274.2-274.2c80.9-80.9,202.8,42,121.9,122.9L546.4,529.3l273.2,274.2
      c80.9,80.9-41,202.8-121.9,121.9L423.4,652.2L150.3,925.4c-80.9,80.9-203.8-41-122.9-121.9l274.2-274.2L27.3,256.1
      c-80.9-80.9,42-203.8,122.9-122.9L423.4,407.4z"/>
            </svg>
          </div>
        </div>
        <div class="title-details__metadata-container">
          <p class="title-data title-data--title-type text-dot-separated">TV Series</p>
            <p class="dot-separator metadata">•</p>
          <p class="title-data title-data--year text-dot-separated">2011-2019</p>
            <p class="dot-separator metadata">•</p>
          <p class="title-data title-data--rating text-dot-separated">TV-MA</p>
            <p class="dot-separator metadata">•</p>
          <p class="title-data title-data--runtime text-dot-separated">57min</p>
        </div>
        <div class="title-details__poster-genre-plot-container">
          <img class="title-details__poster" src="https://m.media-amazon.com/images/M/MV5BN2IzYzBiOTQtNGZmMi00NDI5LTgxMzMtN2EzZjA1NjhlOGMxXkEyXkFqcGdeQXVyNjAwNDUxODI@._V1_SX300.jpg" alt="" width="200px">
          <div class="genre-plot-container">
            <div class="genre-container">
              <div class="genre">Action</div>
              <div class="genre">Adventure</div>
              <div class="genre">Drama</div>
            </div>

            <p class="title-details__plot">Nine noble families fight for control over the lands of Westeros, while an ancient enemy returns after being dormant for a millennia.</p>
          </div>
        </div>
        <div class="hero-bg-blurred-container">
          <img class="hero-bg-blurred" src="https://m.media-amazon.com/images/M/MV5BN2IzYzBiOTQtNGZmMi00NDI5LTgxMzMtN2EzZjA1NjhlOGMxXkEyXkFqcGdeQXVyNjAwNDUxODI@._V1_SX300.jpg">
        </div>
      </div>
      <div class="title-details__section-container title-details__section--ratings">
        <h3 class="title-details__section-title">Ratings</h3>
        <div class="title-details__ratings-container">
          <div class="title-details__rating-container title-details__rating--imdb">
            <img
            src="./src/assets/images/ratings/imdb.svg"
            alt="imdb-logo"
            class="title-details__rating__logo ratings-logo--imdb"
            height="20px"
            />
            <p class="title-details__rating__rating imdb-score"><span class="medium">9.2</span></p>
          </div>
          <div class="title-details__rating-container title-details__rating--rotten-tomatoes">
            <img
              src="./src/assets/images/ratings/rt/rt-certified-fresh.svg"
              alt="imdb-logo"
              class="title-details__rating__logo ratings-logo--rotten-tomatoes"
              height="20px"
            />

            <p class="title-details__rating__rating rt-score"><span class="medium">83</span>%</p>
          </div>
          <div class="title-details__rating-container title-details__rating--metacritic">
            <img
              src="./src/assets/images/ratings/metacritic.svg"
              alt="imdb-logo"
              class="title-details__rating__logo ratings-logo--metacritic green"
              height="20px"
            />

            <p class="title-details__rating__rating metacritic-score"><span class="medium metacritic-score-green">74</span></p>
          </div>
        </div>
      </div>
      <div class="title-details__section-container title-details__section--seasons">
        <div class="seasons-title-and-more-seasons-button-container">
          <h3 class="title-details__section-title">Seasons</h3>
          <div class="more-seasons-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 7.44">
              <path d="M6.44,7.44a1,1,0,0,1-.71-.29L.29,1.71A1,1,0,0,1,1.71.29L6.45,5,11.3.29a1,1,0,1,1,1.4,1.42L7.14,7.16A1,1,0,0,1,6.44,7.44Z"/></svg>
          </div>
        </div>
        <p>8 <span class="season-or-seasons">Seasons</span></p>
      </div>
      <div class="title-details__section-container title-details__section--top-cast">
        <h3 class="title-details__section-title">Top Cast</h3>
        <!-- <div class="title-details__cast-shadow-scroll"></div> -->
        <div class="title-details__cast-container">
          <div class="title-details__actor-container">
            <img src="./src/assets/images/placeholders/actor.svg" alt="" class="title-details__actor-photo">
            <p class="title-details__actor-name">Emilia Clarke</p>
          </div>
          <div class="title-details__actor-container">
            <img src="./src/assets/images/placeholders/actor.svg" alt="" class="title-details__actor-photo">
            <p class="title-details__actor-name">Peter Dinklage</p>
          </div>
          <div class="title-details__actor-container">
            <img src="./src/assets/images/placeholders/actor.svg" alt="" class="title-details__actor-photo">
            <p class="title-details__actor-name">Kit Harington</p>
          </div>
        </div>
      </div>
      <div class="title-details__section-container title-details__section--directors">
        <h3 class="title-details__section-title"><span class="director-or-directors">Director</span></h3>
        <div class="title-details__section--directors-container title-details__section-container--dot-separated">
          <p class="title_details__director text-dot-separated">Denis Villeneuve</p>
        </div>
      </div>
      <div class="title-details__section-container title-details__section--writers">
        <h3 class="title-details__section-title">Writers</h3>
        <div class="title-details__section--writers-container title-details__section-container--dot-separated">
          <p class="title_details__writer text-dot-separated">David Benioff</p>
          <p class="dot-separator sections">•</p>
          <p class="title_details__writer text-dot-separated">D.B. Weiss</p>
        </div>
      </div>
      <div class="title-details__section-container title-details__section--awards">
        <h3 class="title-details__section-title">Awards</h3>
        <p class="title-details__awards">Won 59 Primetime Emmys. 389 wins & 636 nominations total.</p>
      </div>
      <div class="title-details-joined-section-container title-details__section--other-info-group">
        <div class="title-details__section-container title-details__section--language">
          <h3 class="title-details__section-title"><span class="language-or-languages">Language</span></h3>
          <div class="title-details__section--language-container title-details__section-container--dot-separated">
            <p class="title_details__language text-dot-separated">English</p>
          </div>
        </div>
        <div class="title-details__section-container title-details__section--country">
          <h3 class="title-details__section-title"><span class="country-or-countries">Country</span> of Origin</h3>
          <div class="title-details__section--country-container title-details__section-container--dot-separated">
            <p class="title_details__country text-dot-separated">United States</p>
            <p class="dot-separator sections">•</p>
            <p><span class="title_details__country text-dot-separated">United Kingdom</p>
          </div>
        </div>
        <div class="title-details__section-container title-details__release-date">
          <h3 class="title-details__section-title">Release Date</h3>
          <p class="title_details__release-date">17 Apr 2011</p>
        </div>
        <div class="title-details__section-container title-details__dvd">
          <h3 class="title-details__section-title">DVD</h3>
          <p class="title_details__dvd">22 Oct 2021</p>
        </div>
        <div class="title-details__section-container title-details__box-office">
          <h3 class="title-details__section-title">Box Office</h3>
          <p class="title_details__box-office">$108,897,830</p>
        </div>
      </div>
    </div>
</div>
<div class="title-details__backdrop"></div>


<!-- edited -->
<div id="title-details__container" class="title-details__container">
  <div class="title-details">
      <div class="title-details__hero">
        <div class="title-details__title-and-close-btn-container">
          <h2 id="title-data--title" class="title-details__title">Game of Thrones</h2>
          <div id="title-details__close-btn" class="title-details__close-btn">
            <svg class="x-icon" viewBox="0 0 847 1058.8" xmlns="http://www.w3.org/2000/svg">
              <path d="M423.4,407.4l274.2-274.2c80.9-80.9,202.8,42,121.9,122.9L546.4,529.3l273.2,274.2
      c80.9,80.9-41,202.8-121.9,121.9L423.4,652.2L150.3,925.4c-80.9,80.9-203.8-41-122.9-121.9l274.2-274.2L27.3,256.1
      c-80.9-80.9,42-203.8,122.9-122.9L423.4,407.4z"/>
            </svg>
          </div>
        </div>
        <div class="title-details__metadata-container">
          <p id="title-data--type" class="title-data title-data--title-type text-dot-separated">TV Series</p>
            <p class="dot-separator metadata">•</p>
          <p id="title-data--year" class="title-data title-data--year text-dot-separated">2011-2019</p>
            <p class="dot-separator metadata">•</p>
          <p id="title-data--rating" class="title-data title-data--rating text-dot-separated">TV-MA</p>
            <p class="dot-separator metadata">•</p>
          <p id="title-data--runtime" class="title-data title-data--runtime text-dot-separated">57min</p>
        </div>
        <div class="title-details__poster-genre-plot-container">
          <img id="title-data--posterURL" class="title-details__poster" src="https://m.media-amazon.com/images/M/MV5BN2IzYzBiOTQtNGZmMi00NDI5LTgxMzMtN2EzZjA1NjhlOGMxXkEyXkFqcGdeQXVyNjAwNDUxODI@._V1_SX300.jpg" alt="" width="200px">
          <div class="genre-plot-container">
            <div class="genre-container">
              <div class="genre title-data--genre">Action</div>
            </div>

            <p id="title-data--plot" class="title-details__plot">Nine noble families fight for control over the lands of Westeros, while an ancient enemy returns after being dormant for a millennia.</p>
          </div>
        </div>
        <div class="hero-bg-blurred-container">
          <img id="title-data--posterURL-blurred" class="hero-bg-blurred" src="https://m.media-amazon.com/images/M/MV5BN2IzYzBiOTQtNGZmMi00NDI5LTgxMzMtN2EzZjA1NjhlOGMxXkEyXkFqcGdeQXVyNjAwNDUxODI@._V1_SX300.jpg">
        </div>
      </div>

      <div class="title-details__section-container title-details__section--ratings">
        <h3 class="title-details__section-title">Ratings</h3>
        <div class="title-details__ratings-container">
          <div class="title-details__rating-container title-details__rating--imdb">
            <img
            src="./src/assets/images/ratings/imdb.svg"
            alt="imdb-logo"
            class="title-details__rating__logo ratings-logo--imdb"
            height="20px"
            />
            <p class="title-details__rating__rating imdb-score"><span id="title-data--imdb-score" class="medium">9.2</span></p>
          </div>
          <div class="title-details__rating-container title-details__rating--rotten-tomatoes">
            <img
              src="./src/assets/images/ratings/rt/rt-certified-fresh.svg"
              alt="imdb-logo"
              class="title-details__rating__logo ratings-logo--rotten-tomatoes"
              height="20px"
            />

            <p class="title-details__rating__rating rt-score"><span id="title-data--rt-score" class="medium">83</span>%</p>
          </div>
          <div class="title-details__rating-container title-details__rating--metacritic">
            <img
              src="./src/assets/images/ratings/metacritic.svg"
              alt="imdb-logo"
              id="title-data--metacritic-logo"
              class="title-details__rating__logo"
              height="20px"
            />

            <p class="title-details__rating__rating metacritic-score"><span id="title-data--metacritic-score" class="medium metacritic-score">74</span></p>
          </div>
        </div>
      </div>

      <div class="title-details__section-container title-details__section--seasons">
        <div class="seasons-title-and-more-seasons-button-container">
          <h3 class="title-details__section-title">Seasons</h3>
          <div class="more-seasons-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 7.44">
              <path d="M6.44,7.44a1,1,0,0,1-.71-.29L.29,1.71A1,1,0,0,1,1.71.29L6.45,5,11.3.29a1,1,0,1,1,1.4,1.42L7.14,7.16A1,1,0,0,1,6.44,7.44Z"/></svg>
          </div>
        </div>
        <p><span id="title-data--no-of-seasons">8</span><span class="season-or-seasons"> Seasons</span></p>
      </div>
      <div class="title-details__section-container title-details__section--top-cast">
        <h3 class="title-details__section-title">Top Cast</h3>
        <!-- <div class="title-details__cast-shadow-scroll"> -->
        <div class="title-details__cast-container">
          <div class="title-details__actor-container">
            <img src="./src/assets/images/placeholders/actor.svg" alt="" class="title-details__actor-photo title-data--actor-photo">
            <p class="title-details__actor-name title-data--actor-name">Emilia Clarke</p>
        </div>
      </div>
      </div>
      
      <div class="title-details__section-container title-details__section--directors">
        <h3 class="title-details__section-title"><span class="director-or-directors">Director</span></h3>
        <div class="title-details__section--directors-container title-details__section-container--dot-separated">
          <p class="title_details__director text-dot-separated title-data--director-name">Denis Villeneuve</p>
        </div>
      </div>
      <div class="title-details__section-container title-details__section--writers">
        <h3 class="title-details__section-title">Writers</h3>
        <div class="title-details__section--writers-container title-details__section-container--dot-separated">
          <p class="title_details__writer text-dot-separated title-data--writer" >David Benioff</p>
          <!-- <p class="dot-separator sections">•</p> -->
        </div>
      </div>
      <div class="title-details__section-container title-details__section--awards">
        <h3 class="title-details__section-title">Awards</h3>
        <p id="title-data--awards" class="title-details__awards">Won 59 Primetime Emmys. 389 wins & 636 nominations total.</p>
      </div>
      <div class="title-details-joined-section-container title-details__section--other-info-group">
        <div class="title-details__section-container title-details__section--language">
          <h3 class="title-details__section-title"><span class="language-or-languages">Language</span></h3>
          <div class="title-details__section--language-container title-details__section-container--dot-separated">
            <p class="title_details__language text-dot-separated title-data--language">English</p>
            <!-- <p class="dot-separator sections">•</p> -->
          </div>
        </div>
        <div class="title-details__section-container title-details__section--country">
          <h3 class="title-details__section-title"><span class="country-or-countries">Country</span> of Origin</h3>
          <div class="title-details__section--country-container title-details__section-container--dot-separated">
            <p class="title_details__country text-dot-separated title-data-country">United States</p>
            <!-- <p class="dot-separator sections">•</p> -->
          </div>
        </div>
        <div class="title-details__section-container title-details__release-date">
          <h3 class="title-details__section-title">Release Date</h3>
          <p id="title-data--release-date" class="title_details__release-date">17 Apr 2011</p>
        </div>
        <div class="title-details__section-container title-details__dvd">
          <h3 class="title-details__section-title">DVD</h3>
          <p id="title-data--dvd" class="title_details__dvd">22 Oct 2021</p>
        </div>
        <div class="title-details__section-container title-details__box-office">
          <h3 class="title-details__section-title">Box Office</h3>
          <p id="title-data--box-office" class="title_details__box-office">$108,897,830</p>
        </div>
      </div>
    </div>
</div>
<div class="title-details__backdrop"></div>