.homepage-trending__movies-container {
  overflow: hidden;
  margin-top: 1rem;

  position: relative;
  overflow-y: hidden;

  & .homepage-trending__scroll-buttons-container {
    opacity: 0;
    transition: all 0.15s ease-in-out;
  }

  &:hover .homepage-trending__scroll-buttons-container {
    opacity: 100%;
  }
}

.homepage-trending__movies__title-and-toggle-container {
  padding-bottom: 0.75rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  .homepage-trending__movies__title {
    font-size: 1.25rem;
    font-weight: 600;
    color: white;

    position: relative;
    &::after {
      font-size: 14px;
      font-weight: 600;
      color: var(--subtle-text-color);
      background-color: var(--card-bg-color);
      padding: 0.25em 0.6em 0.3em 0.5em;
      border-radius: 1rem;
      position: absolute;
      content: 'Trending';
      width: auto;
      height: auto;
      top: 50%;
      margin-top: -11px;
      right: -83px;
    }
  }

  .homepage-trending__movies__dw-toggle {
    position: relative;
    padding-right: 0.3em;
    background-color: var(--fg-color);
    border-radius: 4rem;
    display: flex;
    flex-flow: row nowrap;
    gap: 0.1em;

    .trending-toggle-label {
      position: absolute;
      color: transparent;
      pointer-events: none;
    }

    .trending-toggle-radio {
      appearance: none;
      // outline: 1px solid red;
      cursor: pointer;
      position: relative;

      &.movie-day {
        width: 3.75em;
        height: 100%;
      }

      &.movie-week {
        width: 5.75em;
        height: 100%;
      }

      &::after {
        transition: all ease-in-out 0.125s;
        padding: 0 0.18em 0 0.18em;
        border-radius: 4em;

        color: rgba(255, 255, 255, 0.8);
        font-weight: 500;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: grid;
        place-content: center;
      }

      &:checked::after {
        color: black;
        background-color: var(--accent-color);
      }

      &#movies-day-radio::after,
      &#series-day-radio::after {
        content: 'Today';
      }

      &#movies-week-radio::after,
      &#series-week-radio::after {
        content: 'This Week';
      }
    }
  }
}

.homepage-trending__movies__cards-container {
  overflow-x: auto;
  // overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-padding: var(--homepage-card-padding);
}

.homepage-trending__movies__cards-subcontainer {
  min-width: 100%;
  padding: var(--homepage-card-padding);
  margin-bottom: 0.25rem;
  border-radius: 1rem;
  background-color: var(--fg-color);
  display: inline-flex;
  flex-flow: row nowrap;
  gap: var(--homepage-card-padding);
}

.homepage-trending__scroll-buttons-container {
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 6%;

  .homepage-trending__scroll-button {
    pointer-events: auto;
    cursor: pointer;
    top: 40%;
    margin-top: calc((var(--scroll-btn-height) / -2));
    border: none;
    background-color: #4d4d4ed4;
    filter: drop-shadow(0 0 5px black);
    border-radius: 10rem;

    transition: all ease-in-out 0.15s;
    opacity: 100%;

    &:active {
      transform: scale(0.7);
    }

    &:hover {
      background-color: #605f5f;
      svg path {
        fill: rgba(255, 255, 255, 0.805);
      }
    }

    svg {
      height: var(--scroll-btn-height);
      aspect-ratio: 1/1;
      height: var(--scroll-btn-height);
      // background-color: black;
      path {
        fill: rgba(255, 255, 255, 0.468);
      }
    }

    &.hide {
      opacity: 0;
    }
  }

  .homepage-trending__scroll-left-btn {
    position: absolute;
    left: 0.75rem;
    padding: 1rem 0.5rem 0.8rem 0.4rem;

    svg {
      transform: rotate(90deg);
    }
  }

  .homepage-trending__scroll-right-btn {
    position: absolute;
    right: 0.75rem;
    padding: 1rem 0.4rem 0.8rem 0.5rem;

    svg {
      transform: rotate(-90deg);
    }
  }
}

.trending-card-container {
  cursor: pointer;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 140px;
  flex: 0;

  transition: all ease-in-out 0.15s;
  transform: scale(1);

  &:active {
    filter: brightness(50%);
    transform: scale(0.88);
  }

  .trending-card__poster {
    pointer-events: none;
    width: 140px;
    border-radius: 9px;
    object-fit: cover;
    aspect-ratio: 1 / 1.5;
  }

  .trending-card__title-and-year-genre-container {
    pointer-events: none;
    line-height: 1.25;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    flex: 0;
    gap: 0.3em;

    margin-top: 0.25em;

    .trending-card__title {
      color: white;
      font-size: 1rem;
      font-weight: 500;
      min-height: 1.25em;
      max-height: 2.5em;
      overflow-y: hidden;
    }
    .trending-card-year-and-genre {
      font-size: 0.813rem;
      font-weight: 200;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

@supports (hanging-punctuation: first) and (-webkit-font-smoothing: antialiased) and
  (not (-moz-appearance: none)) {
  .homepage-trending__movies__title-and-toggle-container {
    .homepage-trending__movies__title {
      &::after {
        top: 55%;
        margin-top: -13px;
        right: -86px;
      }
    }

    .homepage-trending__movies__dw-toggle {
      .trending-toggle-radio {
        font-size: 0.875rem;
        &.movie-day {
          width: 4em;
          height: 100%;
        }

        &.movie-week {
          width: 6em;
          height: 100%;
        }

        &::after {
          padding: 0 0.195em 0 0.195em;
          font-weight: 500;
        }
      }
    }
  }
}

// targetting safari for ios and ipados
@media only screen and (hover: none) {
  @supports (hanging-punctuation: first) and (-webkit-font-smoothing: antialiased) and
    (not (-moz-appearance: none)) {
    .homepage-trending__movies__title-and-toggle-container {
      .homepage-trending__movies__title {
        &::after {
          font-size: 0.875rem;
          right: -88px;
        }
      }

      .homepage-trending__movies__dw-toggle {
        .trending-toggle-radio {
          &.movie-day {
            width: 3.75em;
            height: 100%;
          }

          &.movie-week {
            width: 5.75em;
            height: 100%;
          }

          &::after {
            padding: 0 0.195em 0 0.195em;
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .trending-card-container {
    width: 120px;

    .trending-card__poster {
      width: 120px;
    }

    .trending-card__title-and-year-genre-container {
      margin-top: 0.25em;

      .trending-card__title {
        font-size: 0.9rem;
        font-weight: 500;
      }
      .trending-card-year-and-genre {
        font-size: 0.8rem;
        font-weight: 200;
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .trending-card-container {
    width: 120px;

    .trending-card__poster {
      width: 120px;
    }

    .trending-card__title-and-year-genre-container {
      margin-top: 0.25em;

      .trending-card__title {
        font-size: 0.9rem;
        font-weight: 500;
      }
      .trending-card-year-and-genre {
        font-size: 0.8rem;
        font-weight: 200;
      }
    }
  }
}

@media (hover: hover) {
  body.not-android .homepage-trending__movies__cards-container {
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
    overflow-x: hidden;
    &:hover {
      // scrollbar-color: #87878c transparent;
      scrollbar-color: transparent transparent;
    }
    transition: all ease-in-out 0.12s;
  }
}

@media (hover: none) {
  .homepage-trending__movies-container {
    &:hover .homepage-trending__scroll-buttons-container {
      display: none;
    }
  }

  .homepage-trending__movies__cards-container {
    scroll-behavior: auto;
    scroll-snap-type: none;
    // scrollbar-color: auto auto;
    scrollbar-color: transparent transparent;
  }

  .homepage-trending__movies__cards-subcontainer {
    margin-bottom: 0.75rem;
  }

  .trending-card-container {
    scroll-snap-stop: normal;
  }
}

// min width
@media only screen and (min-width: 768px) {
  .homepage-trending__movies__title-and-toggle-container {
    .homepage-trending__movies__title {
      font-size: 1.5rem;
    }
  }
}
