body {
  // Nav bvar show and hide on scroll
  &.scroll-up header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.332);
  }
  &.scroll-down header {
    transform: translateY(-100%);
  }
}

header {
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  transition: all ease-out 0.2s;
}
