:root {
  --navbar-height: 3.5rem;
  --navbar-gap: 1em;
  --navbar-width: calc((4 * var(--card-width)) + (3 * var(--card-group-gap)));
  --navbar-width-new: calc((4 * var(--card-width)) + (3 * var(--card-group-gap)) - 25px);
}

.nav:has(.nav-search-bar:focus) {
  opacity: 98%;
}

.nav {
  background-color: var(--header-bg-color);
  position: relative;
  height: var(--navbar-height);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: calc(100vw + 9px);

  .nav__subcontainer {
    position: relative;
    margin-right: 25px;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: var(--navbar-width-new);
    .nav__txt-link-btn {
      color: var(--nav-items-color);
      user-select: none;
      font-size: 1.2rem;
      font-weight: 700;
      padding: 0.3em 0.6em;
      margin: 0 -0.6em;
      transition: all ease-in-out 0.15s;
      border-radius: 2em;

      &:hover {
        background-color: var(--nav-items-color);
        color: var(--light-text-color);
      }

      &:focus {
        border: none;
      }
    }
  }
}

.nav__left-items-container {
  left: 0;
  z-index: 2;
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--navbar-gap);

  .nav__mobile-menu-hamburger-menu-container {
    position: relative;
    height: 1.75em;
    width: 2em;
    margin-left: 5px;
    // margin-top: 0.15rem;

    & svg {
      transition: transform ease-out 0.15s;
    }

    &:active svg {
      transform: scale(0.7);
    }

    svg.hamburger-menu-icon {
      left: 50%;
      top: 50%;
      margin-left: -15px;
      margin-top: -8px;
      width: 24px;
      position: absolute;
      pointer-events: none;

      path {
        fill: var(--nav-items-color);
      }
    }

    input.nav__mobile-menu-cb-toggle {
      cursor: pointer;
      width: 100%;
      height: 100%;
      appearance: none;
      &:active ~ svg path,
      &:hover ~ svg path {
        fill: var(--nav-items-hover-color);
      }
    }
  }
}

.nav__right-items-container {
  right: 0;
  position: relative;
  z-index: 1;
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: var(--navbar-gap);

  .github-src-btn {
    & svg path {
      fill: var(--nav-items-color);
    }

    &:hover svg path {
      fill: var(--nav-items-hover-color);
    }
  }

  .favourites-btn {
    & svg path {
      fill: var(--nav-items-color);
    }

    &:hover svg path {
      fill: var(--nav-items-hover-color);
    }
  }
}

.nav__center-items-container {
  height: 70%;
  /////////////////////////////////////////////////////////////////
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: var(--navbar-gap);
  position: relative;

  padding: 0 1rem;

  .exit-search-results-container-btn {
    border: 1px solid red;
    border: transparent;
    background-color: transparent;

    svg {
      width: 23px;
      transform: rotate(90deg);
      margin-bottom: -1px;
      path {
      }
    }

    &.hidden {
      display: none;
    }
  }
}

@keyframes HideNavItemOnSearchBarFocus {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes ShowNavItemOnSearchBarFocus {
  0% {
    opacity: 0%;
    display: none;
  }

  100% {
    opacity: 100%;
  }
}

.nav__center-items-container .nav__items-hidden-on-search-bar-focus {
  animation: HideNavItemOnSearchBarFocus 0.5s ease-in-out forwards;
}

.nav__center-items-container .nav__items-shown-on-search-bar-focus {
  animation: ShowNavItemOnSearchBarFocus 0.5s ease-in-out forwards;
}

// --------------nav bar
@media only screen and (max-width: 1280px) {
  :root {
    --navbar-width: calc((3 * var(--card-width)) + (2 * var(--card-group-gap)));
  }
}

@media only screen and (max-width: 960px) {
  :root {
    --navbar-width-new: 100vw;
  }
  .nav__subcontainer {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --navbar-width: calc((2 * var(--card-width)) + (1 * var(--card-group-gap)));
  }

  .nav__center-items-container {
    // gap: calc(var(--navbar-gap) / 2);
    .github-src-btn,
    .favourites-btn {
      display: none;
    }
  }
}

@media only screen and (max-width: 499px) {
  :root {
    --navbar-height: 3.25rem;
    --navbar-width: calc(100% - 2em);
  }
}

@media only screen and (max-width: 475px) {
  :root {
    --navbar-width: calc(100% - 2em);
  }
}

@media only screen and (max-width: 425px) {
  .nav__subcontainer {
    padding: 0 0.75rem;
  }
}

@media only screen and (max-width: 360px) {
  :root {
    --navbar-height: 3rem;
  }
  .favourites-btn {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  :root {
    --navbar-width: calc(100% - 2em);
  }
}
