:root {
  --navbar-height: 3.5rem;
  --navbar-gap: 1em;
  --navbar-width: calc((4 * var(--card-width)) + (3 * var(--card-group-gap)));
}

.nav:has(.nav-search-bar:focus) {
  opacity: 98%;
}

.nav {
  position: relative;
  height: var(--navbar-height);
  background-color: var(--header-bg-color);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  .nav__txt-link-btn {
    color: var(--nav-items-color);
    user-select: none;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.3em 0.6em;
    margin: 0 -0.6em;
    transition: all ease-in-out 0.15s;
    border-radius: 2em;

    &:hover {
      background-color: var(--nav-items-color);
      color: var(--light-text-color);
    }

    &:focus {
      border: none;
    }
  }
}

.nav__left-items-container {
  left: 0;
  z-index: 2;
  position: absolute;
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.nav__right-items-container {
  right: 0;
  z-index: 1;
  position: absolute;
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.nav__center-items-container {
  height: 70%;
  width: var(--navbar-width);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: var(--navbar-gap);

  .nav__mobile-menu-hamburger-menu-container {
    position: relative;
    height: 1.75em;
    width: 2em;
    margin-left: 5px;

    & svg {
      transition: transform ease-out 0.15s;
    }

    &:active svg {
      transform: scale(0.7);
    }

    svg.hamburger-menu-icon {
      left: 50%;
      top: 50%;
      margin-left: -15px;
      margin-top: -8px;
      width: 24px;
      position: absolute;
      pointer-events: none;

      path {
        fill: var(--nav-items-color);
      }
    }

    input.nav__mobile-menu-cb-toggle {
      cursor: pointer;
      width: 100%;
      height: 100%;
      appearance: none;
      &:active ~ svg path,
      &:hover ~ svg path {
        fill: var(--nav-items-hover-color);
      }
    }
  }

  .github-src-btn {
    & svg path {
      fill: var(--nav-items-color);
    }

    &:hover svg path {
      fill: var(--nav-items-hover-color);
    }
  }

  .favourites-btn {
    & svg path {
      fill: var(--nav-items-color);
    }

    &:hover svg path {
      fill: var(--nav-items-hover-color);
    }
  }
}

// --------------nav bar
@media only screen and (max-width: 1280px) {
  :root {
    --navbar-width: calc((3 * var(--card-width)) + (2 * var(--card-group-gap)));
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --navbar-width: calc((2 * var(--card-width)) + (1 * var(--card-group-gap)));
  }

  .nav__center-items-container {
    // gap: calc(var(--navbar-gap) / 2);
    .github-src-btn,
    .favourites-btn {
      display: none;
    }
  }
}

@media only screen and (max-width: 499px) {
  :root {
    --navbar-height: 3.25rem;
    --navbar-width: calc(100% - 2em);
  }
}

@media only screen and (max-width: 475px) {
  :root {
    --navbar-width: calc(100% - 2em);
  }
}

@media only screen and (max-width: 475px) {
  :root {
    --navbar-width: calc(100% - 2em);
  }
}

@media only screen and (max-width: 360px) {
  :root {
    --navbar-height: 3rem;
  }
  .favourites-btn {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  :root {
    --navbar-width: calc(100% - 2em);
  }
}
