:root {
  // global cursor classes
  *:hover.cursor--pointer {
    cursor: pointer;
  }

  // global font-weight classes
  .medium-text {
    font-weight: 500;
  }

  // for disabling buttons/ elements
  .button-disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 40%;
  }

  .semibold-text {
    font-weight: 600;
  }
  .bold-text {
    font-weight: 700;
  }

  div[role='button'] {
    cursor: pointer;
  }

  /* underline and highlight on hover class */
  *:hover.hover--underline {
    text-decoration: underline solid white 1.5px;
    filter: invert(0.3);
  }

  *:active.active--underline {
    text-decoration: underline solid white 1.5px;
    filter: invert(0.3);
  }

  *.hover--darken {
    transition: all ease-in-out 0.2s;
  }
  *:hover.hover--darken {
    filter: brightness(70%) !important;
  }

  .btn-click-animation-and-cursor {
    scale: 1;
    transition: scale ease-in-out 0.15s;
    cursor: pointer;

    &:hover,
    &:active {
      filter: brightness(500%);
    }

    &:active {
      scale: 0.8;
    }
  }

  span.nowrap {
    display: block;
  }

  span.semibold {
    font-weight: 600;
  }

  span.medium {
    font-weight: 500;
  }
}
